body {
	overflow-y: scroll;
}

#img {
	width: 100%;
}

.margin-top {
	margin-top: 20px;
}

.red-border {
	border: 3px red dashed;
}

#chat {
	height: 250px;
    margin-top: 20px;
    overflow-y: scroll;
}

#chat p {
    position: relative;
    margin: 10px 5px;
    background-color: tomato;
    padding: 5px 15px;
    text-align: right;
    color: white;
}

#chat p span {
    font-size: 10px;
    color: white;
    position: absolute; 
    bottom: 0;
    left: 0;
}