body {
	overflow-y: scroll;
}

img {
	width: 100%;
}

.margin-top {
	margin-top: 20px;
}

.friends img {
	padding: 2px;
	border: 3px rgba(255, 0, 0, 0.281) dashed;
}

.friends a {
	position: absolute;
	bottom: 5px;
	right: 12px;
}

.friends div {
	margin-top: 20px;
	position: relative;
}

.pointer {
	cursor: pointer;
}