body {
	overflow-y: scroll;
}

#img {
	width: 100%;
	margin-top: 20px;
}

form, .panel-group {
	margin-top: 20px;
}

.panel-body p {
	font-size: 1.2em;
}

.modal-body img {
	margin: 0 auto;
}

.btn {
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 20px !important;
}

#santa-display {
	text-align: center;
	min-height: 200px;
}

.alert-warning {
	font-size: 30px;
}

.alert-warning span {
	font-size: 50%;
}

.panel-collapse .glyphicon{
	cursor: pointer;
}

.picture-disabled {
	cursor: initial !important;
	opacity: 0.4;
}

.location {
	padding-right: 8px;

}

.location .glyphicon {
    font-size: 120%;
}

.friends img {
	width: 100%;
	padding: 2px;
	margin-bottom: 20px;
	margin-top: 20px;
	border: 3px red dashed;
}

.friends a {
	position: absolute;
	float: left;
	bottom: 20px;
	right: 25px;
	padding: 5px 5px;
}

span.glyphicon-list-alt {
    font-size: 1.8em;
	margin-left: -3px;
}

.loader {
	margin: 0 auto;
	margin-top: 50px;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid grey; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}