#topSecretImage {
	width: 70%;
}

@media (min-width: 768px) {
	#topSecretImage {
		width: 50%;
	}
}

@media (min-width: 992px) {
	#topSecretImage {
		width: 40%;
	}
}

@media (min-width: 1200px) {
	#topSecretImage {
		width: 30%;
	}
}

#unavailableImage {
	width: 40%;
}

#topSecretDiv, #unavailableDiv, #topSecretVideo {
	display: none;
}