<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Secret Santa Friends">
	<meta name="keywords" content="secret,santa,secretsanta,friends,christmas,friends">
	<meta name="author" content="Jovan Ilic">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Secret Santa Friends</title>
	<link rel="stylesheet" type="text/css" href="public/css/santafriends.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="public/js/santafriends.js"></script>
	<link rel="icon" type="img/ico" href="public/resources/favicon.ico">

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<!-- For facebook crawler -->
	<meta property="og:url" content="http://www.secretsanta.jovanilic.com/santaarchive.html" />
	<meta property="og:site_name" content="secretsanta.jovanilic.com" />
	<meta property="og:title" content="Secret Santa Archive" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Secret Santa archive for my friends!" />

	<script id="santa-template" type="text/x-custom-template">	
		<div class="col-md-3 col-xs-12">
			<img src="public/resources/images/{{user}}.png">
			<a data-bs-toggle="modal" data-bs-target="#friend" data-picture="sheet/{{user}}.jpg" data-index="{{index}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-info-circle-fill text-danger pointer" viewBox="0 0 16 16">
					<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
				</svg>
			</a>
		</div>
	</script>
</head>

<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-xs-12">
				<img id="img" class="margin-top" src="public/resources/images/santa.jpg">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-8 col-xs-12">
				<div class="row friends"></div>
				<button class="btn btn-primary margin-top" onclick="location.href='/'">Back</button>
			</div>
		</div>
		<div id="friend" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">
						<p id="santa_name">Name: </p>
						<p id="santa_email">Email: </p>
						<p id="santa_address">Address: </p>
						<img id="santa_sheet" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>

</html>