<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Secret Santa archive for my friends">
	<meta name="keywords" content="secret,santa,secretsanta,friends,christmas,archive">
	<meta name="author" content="Jovan Ilic">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Secret Santa Archive</title>
	<link rel="stylesheet" type="text/css" href="public/css/santahistory.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="public/js/santahistory.js"></script>
	<link rel="icon" type="img/ico" href="public/resources/favicon.ico">

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<!-- For facebook crawler -->
	<meta property="og:url" content="http://www.secretsanta.jovanilic.com/santahistroy.html" />
	<meta property="og:site_name" content="secretsanta.jovanilic.com" />
	<meta property="og:title" content="Secret Santa Archive" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Secret Santa archive for my friends!" />

	<script id="year_template" type="template">
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{year}}">
				{{year}}
				</button>
			</h2>
			<div id="collapse{{year}}" class="accordion-collapse collapse" data-bs-parent="#accordion">
				<div class="accordion-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Santa</th>
								<th>Child</th>
								<th>Gift</th>
								<th>Image</th>
							</tr>
						</thead>
						<tbody id="table_body">
						</tbody>
					</table>
					<p class="location"><b>Location:</b> 
						<span id="label">{{label}}</span>
						<span id="location_image" class="picture-disabled pointer float-end" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#present" data-picture="{{yearImage}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
								<path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
								<path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
							</svg>
						</span>
					</p>
				</div>
			</div>
		</div>
	</script>

	<script id="gift_template" type="template">
		<tr>
			<td>{{santa}}</td>
			<td>{{child}}</td>
			<td>{{gift}}</td>
			<td class="text-end">
				<span class="picture-disabled" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#present" data-picture="{{Year}}/{{giftImage}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
						<path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
						<path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
					</svg>
				</span>
			</td>
		</tr>
	</script>
</head>

<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-xs-12">
				<img id="img" class="margin-top" src="public/resources/images/santa.jpg">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-8 col-xs-12">
				<div class="accordion margin-top" id="accordion"></div>
				<button class="btn btn-primary margin-top" onclick="location.href='/'">Back</button>
			</div>
		</div>
		<div id="present" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">
						<img id="image" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>

</html>