/* common */

#container {
	overflow: auto;
	height: calc(100vh - 56px);
}

.pointer {
	cursor: pointer;
}

.color-red {
	color: #dc3545;
}

.bi-trash {
	color: #dc3545;
	cursor: pointer;
}

/* santaHistory */

/* end santaHistory */

/* santaYear */

#giftImage {
	width: 8em;
}

/* end santaYear */

/* santaFriends */

#friendImage {
	background: linear-gradient(to bottom, rgba(255,0,0, 0.5) 50%, white 0%);
}

#friendList {
	font-size: 0.8rem;
}

/* end santaFriends */