span[data-name="chatName"] {
}

span[data-name="chatTo"] {
  font-size: 0.8rem;
}

p[data-name="chatMessage"] {
  font-size: 1rem;
  text-align: right;
  margin-top: 1rem;
}

span[data-name="chatDate"] {
  font-size: 0.7rem;
}

span[data-name="chatFrom"] {
  font-size: 1rem;
}

